/** Basic Styling / Global Styles **/
html {
    height: 100%;
}

/** Default Body Style with No Theme **/
.noTheme body {
    display: none;
}

/** Utilities **/
.align-center {
    text-align: center;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.hide {
    display: none;
}
.shadow {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}
.margin-none {
    margin: 0px;
}
.disabled {
    opacity: .6;
}

/** Basic Elements **/
input:focus,
button:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
}
button::-moz-focus-inner {
    border: 0;
}
button:disabled {
    cursor: default;
    opacity: .6;
}
select {
    width: 100%;
}

/** Animations **/
@keyframes pulsate {
    0% {
        opacity: 1;
        text-shadow: 0px 0px 7px #fff;
    }
    50% {
        opacity: .6;
        text-shadow: 0px 0px 0px #fff;
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 7px #fff;
    }
}
@-webkit-keyframes pulsate {
    from {
        opacity: 1;
        text-shadow: 0px 0px 7px #fff;
    }
    50% {
        opacity: .6;
        text-shadow: 0px 0px 0px #fff;
    }
    to {
        opacity: 1;
        text-shadow: 0px 0px 7px #fff;
    }
}