/** Basic Styling / Global Styles **/
html {
    height: 100%;
    min-height: 318px;
    padding: 0px;
}

/** Default Body Style with No Theme **/
.noTheme body {
    display: none;
}

/** Unsupported Message background **/
.noSupport body {
    height: inherit;
    margin: 0px;
    padding: 0px;
}
.unsupported-browser {
    height: inherit;
    min-width: 650px;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Helvetica, Sans-Serif;
    background: url('../images/gradient.jpg') #322338 0px 0px repeat-x;
}
.unsupported-browser .background {
    height: inherit;
    min-height: 318px;
    background: url('../images/background.jpg') top center no-repeat;
}
.unsupported-browser .background div,
.simple-logo {
    position: absolute;
    width: 100%;
    min-width: 650px;
}
.unsupported-browser .background div {
    margin-top: 140px;
}
.unsupported-browser .background p {
    text-align: center;
    margin: 0px;
    padding: 30px;
    background: rgba(255, 255, 255, .2);
    font-size: 1.3em;
    color: #fff;
}

.simple-logo {
    height: 150px;
    background: url('../images/logo-simple.png') center 20px no-repeat;
}

/** Audio Tags **/
audio {
    height: 0px;
}

/** Utilities **/
.align-center {
    text-align: center;
}
.vertical-center {
    vertical-align: middle;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.hide {
    display: none;
}
.shadow {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}
.margin-none {
    margin: 0px;
}
.disabled {
    opacity: .6;
}

/** Basic Elements **/
input:focus,
button:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
}
button::-moz-focus-inner {
    border: 0;
}
button:disabled {
    cursor: default;
    opacity: .6;
}
select {
    width: 100%;
}

/** Animations **/
@keyframes pulsate {
    0% {
        opacity: 1;
        text-shadow: 0px 0px 7px #fff;
    }
    50% {
        opacity: .6;
        text-shadow: 0px 0px 0px #fff;
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 7px #fff;
    }
}
@-webkit-keyframes pulsate {
    from {
        opacity: 1;
        text-shadow: 0px 0px 7px #fff;
    }
    50% {
        opacity: .6;
        text-shadow: 0px 0px 0px #fff;
    }
    to {
        opacity: 1;
        text-shadow: 0px 0px 7px #fff;
    }
}