@media (max-width: 767px) {
    .hidden-desktop {
        display: inherit !important;
    }
    .visible-desktop {
        display: none !important;
    }
    .visible-phone {
        display: inherit !important;
    }
    .hidden-phone {
        display: none !important;
    }

    /** playlist **/
    .theme1 #playList .song-actions a {
        margin: 0px 7px;
    }
    .theme1 #playList ul li button {
        margin-left: 13px;
    }
    .theme1 .playlist-title {
        max-width: 473px;
    }

    /** Theme 1 Styles **/
    .theme1 .background2 {
        min-height: 318px;
    }
    .theme1 #interfaces {
        padding-bottom: 318px;
    }
    .theme1 .key {
        width: 77px;
        height: 160px;
    }
    .theme1 .row-a .key {
        height: 90px;
    }

    /** Theme 3 Styles **/
    .theme3 .background1 {
        min-height: 318px;
    }
}