@media (min-width: 768px) and (max-width: 979px) {
    .hidden-desktop {
        display: inherit !important;
    }
    .visible-desktop {
        display: none !important ;
    }
    .visible-tablet {
        display: inherit !important;
    }
    .hidden-tablet {
        display: none !important;
    }

    /** Playlist **/
    .theme1 .playlist-title {
        max-width: 483px;
    }

    /** Theme 1 Styles **/
    .theme1 #interfaces {
        padding-bottom: 368px;
    }
    .theme1 .key {
        width: 77px;
        height: 210px;
    }
    .theme1 .row-a .key {
        height: 120px;
    }

    /** Theme 3 Styles **/
    .theme3 .background1 {
        min-height: 368px;
    }
}