/** Theme 2 Styling **/
.theme2 body {
    background: #fff;
}
.theme2 .background2 {
    background: url('../images/bubble-bg-blue.jpg') center center no-repeat;
    background-size: 100%;
}

/** Utilities **/
.theme2 .light-overlay {
    border: 0px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .1);
    color: #222;
    padding: 18px 0px;
}
.theme2 .shadow {
    box-shadow: none;
}

/** Logo **/
.theme2 .logo .logo-image {
    background: url('../images/logo-blue.png') center center no-repeat;
}

/** Loader **/
.theme2 #loader div {
    margin: -10px 0px 0px;
    border-right: 0px;
    border-left: 0px;
    padding: 20px 0px;
}

/** Button Styles **/
.theme2 button,
.theme2 .btn {
    border: 0px;
    background-image: none;
    background-color: rgba(0, 0, 0, .15);
}
.theme2 button:hover,
.theme2 .btn:hover {
    background-image: none;
    background-color: rgba(0, 0, 0, .23);
}
.theme2 button:active,
.theme2 .btn:active {
    background-image: none;
    background-color: rgba(0, 0, 0, .30);
    box-shadow: none;
}
.theme2 button:disabled:hover {
    background-image: none;
    background-color: rgba(0, 0, 0, .15);
}
.theme2 .btn-primary,
.theme2 .ui-widget-header,
.theme2 .ui-state-default,
.theme2 .ui-widget-content .ui-state-default,
.theme2 .ui-widget-header .ui-state-default,
.theme2 .ui-dialog-content button {
    background: -webkit-linear-gradient(top, rgba(0, 165, 197, 1) 0%,rgba(0, 120, 190, .6) 100%);
    background: linear-gradient(to bottom, rgba(0, 165, 197, 1) 0%,rgba(0, 120, 190, .6) 100%);
}
.theme2 .btn-primary:hover,
.theme2 .ui-state-default:hover,
.theme2 .ui-widget-content .ui-state-default:hover,
.theme2 .ui-widget-header .ui-state-default:hover,
.theme2 .ui-dialog-content button:hover {

    background: -webkit-linear-gradient(top, rgba(0, 165, 197, 1) 0%,rgba(0, 120, 190, .6) 100%);
    background: linear-gradient(to bottom, rgba(0, 165, 197, 1) 0%,rgba(0, 120, 190, .6) 100%);
}
.theme2 .btn-primary:active,
.theme2 .ui-state-default:active,
.theme2 .ui-widget-content .ui-state-default:active,
.theme2 .ui-widget-header .ui-state-default:active,
.theme2 .ui-dialog-content button:active {
    background: -webkit-linear-gradient(top, rgba(0, 165, 197, 1) 0%,rgba(0, 170, 197, .6) 100%);
    background: linear-gradient(to bottom, rgba(0, 165, 197, 1) 0%,rgba(0, 170, 197, .6) 100%);
}

/** Slider Styles **/
.theme2 .slider,
.theme2 .slider.ui-widget-content {
    display: block;
    width: 100%;
    height: 8px;
}
.theme2 .ui-slider-handle {
    top: -.35em;

    background-image: -webkit-linear-gradient(top, rgba(39, 220, 255, 1) 0%,rgba(0, 147, 170, 0.89) 100%)!important;
    background-image: linear-gradient(to bottom, rgba(39, 220, 255, 1) 0%,rgba(0, 147, 170, 0.89) 100%)!important;
    background-color: #00a5c5;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .1)!important
}

/** Key Styles **/
.theme2 .key {
    border: 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
    background: -moz-linear-gradient(top, rgba(121, 185, 255, 0.34) 0%, rgba(171, 255, 160, 0.24) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(121, 185, 255, 0.34)), color-stop(100%,rgba(171, 255, 160, 0.24))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(121, 185, 255, 0.34) 0%,rgba(171, 255, 160, 0.24) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(121, 185, 255, 0.34) 0%,rgba(171, 255, 160, 0.24) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(121, 185, 255, 0.34) 0%,rgba(171, 255, 160, 0.24) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(121, 185, 255, 0.34) 0%,rgba(171, 255, 160, 0.24) 100%); /* W3C */
    color: #000;
    font-weight: bold;
    text-transform: none;

/*    height: 80px;*/
    border-radius: 80px;
}
.theme2 .row-a .key {
    height: 80px !important;
    margin-top: 36px;
    border: 0px;
    background: url("../images/bubble-bkeys.png")center no-repeat;
}
.theme2 .key:hover,
.theme2 .row-a .key:hover {
    background: url("../images/bubble-bkeys-h.png")center no-repeat;
}

.theme2 .row-b .key {
    height: 80px;
    margin-top: 100px;
    background: url("../images/bubble-wkeys.png")center no-repeat;
}
.theme2 .row-b .key:hover{
    background: url("../images/bubble-wkeys-h.png")center no-repeat;

}

.theme2 .keys-container .key:active,
.theme2 .keys-container .key.active {
    background: url("../images/bubble-splat.png")center no-repeat;
}

/** Volume and Pitch Slider Styles **/
.theme2 .volume-container,
.theme2 .pitch-container {
    width: 154px;
    margin: 22px 15px 19px;
}
.theme2 .volume-container {
    float: right;
}
.theme2 .pitch-container {
    float: left;
}
.theme2 .volume-container .slider {
    float: none;
    margin-top: 0px;
    width: 100%;
}
.theme2 .volume-container .label,
.theme2 .pitch-container .label {
    font-weight: bold;
    color: rgba(0, 0, 0, .5);
}
.theme2 .volume-container i {
    display: none;
}
.theme2 .volume-container .label {
    display: block;
}

/** Toolbar **/
.theme2 .toolbar {
    background-color: #00a5c5;
}
.theme2 .toolbar #options {
    background: none;
}

/** Player Styles **/
.theme2 #playerControls {
    height: 56px;
    box-shadow: none;
    border: 0px;
    background: rgba(0, 0, 0, .15);
}
.theme2 #playerControls #scrubber {
    margin: 24px 20px;
}
.theme2 #playerControls #scrubber.ui-widget-content,
.theme2 .slider,
.theme2 .slider.ui-widget-content {
    background: linear-gradient(to right, #99CCFF, #99CCFF);
    background: -webkit-linear-gradient(left, #86C922, #96E61D);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .1);
}
.theme2 #playList ul li {
    background: rgba(234, 248, 255, 0.41);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .1);
    color: #222;
}
.theme2 #playList ul li:hover {
    background: rgba(234, 248, 255, 0.84);
}
.theme2 #playList .song-actions a:hover .icon-white {
    background-image: url("../images/glyphicons-gray.png");
}

/** Icons **/
.theme2 [class^="icon-"],
.theme2 [class*=" icon-"] {
    background-image: url("../images/sprite-icons-white.png");
}
.theme2 .icon-small {
    background-image: url("../images/glyphicons.png");
}
.theme2 .icon-white {
    background-image: url("../images/glyphicons-white.png");
}
.theme2 #playList ul li .icon-white {
    background-image: url("../images/glyphicons.png");
}
.theme2 .icon-play {
    background-position: -19px -120px;
}
.theme2 .icon-pause {
    background-position: -20px -63px;
}

/** jQuery Overrides **/
.theme2 .ui-widget-header {
    border: 0px;
}
.theme2 .ui-widget-content {
    background-image: none;
    background-color: #fff;
}
.theme2 .ui-dialog-content button {
    color: #fff;
    box-shadow: none;
}
.theme2 .ui-state-default,
.theme2 .ui-widget-content .ui-state-default,
.theme2 .ui-widget-header .ui-state-default {
    border: 0px;
    box-shadow: none;
    color: #fff;
}






