/** Theme 2 Styling **/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800,800italic");
.theme2 body {
    height: inherit;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Open Sans', Sans-Serif;
    background-color: #1c94c4;
    background-image: none;
}

/** Containers Styles **/
.theme2 #app {
    position: relative;
    min-height: 100%;
}
.theme2 #interfaces {
    position: relative;
    margin: 0px auto;
    width: 650px;
    padding-bottom: 400px;
    z-index: 5;
}
.theme2 #keyboard,
.theme2 #player,
.theme2 #keyboardTools,
.theme2 #playerTools {
    display: none;
    position: absolute;
}
.theme2 #loader {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 90px 0px 0px;
}
.theme2 #loader div {
    margin: -30px 0px 0px;
    border-right: 0px;
    border-left: 0px;
}
.theme2 #loader h2 {
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    font-size: 1.25em;
    font-style: italic;
    -webkit-animation: pulsate 1.5s linear infinite;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
}
.theme2 #loader .logo-animated {
    margin: 0px 0px -161px -4px;
}

.theme2 #player {
    color: #fff;
    padding: 10px 0px 0px;
    width: inherit;
}

/** Slider Styles **/
.theme2 .slider {
    -webkit-appearance: none;
    border: 0px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 2px #000;
    background: linear-gradient(to right, #d34622, #f66d32);
    background: -webkit-linear-gradient(left, #d34622, #f66d32);
    height: 12px;
    vertical-align: middle;
    cursor:pointer;
}
.theme2 input[type='range'] {
    -webkit-appearance: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px #000;
    background: linear-gradient(to right, #d34622, #f66d32);
    background: -webkit-linear-gradient(left, #d34622, #f66d32);
    height: 8px;
    vertical-align: middle;
}
.theme2 input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #df5735;
    width: 20px;
    height: 20px;
    background: url('../images/slider-button.png') 0px 0px no-repeat;
    border-radius: 20px;
    box-shadow: 0 2px 6px #000;
}

/** Form Elements **/
.theme2 button {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .15);
    color: #fff;
    /*text-transform: uppercase;*/
    font-size: .95em;
    background: linear-gradient(to bottom, rgba(255, 230, 245, 0.27) 0%,rgba(230, 220, 240, 0.24) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 230, 245, 0.27) 0%,rgba(230, 220, 240, 0.24) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
}
.theme2 button:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.32) 0%,rgba(251, 247, 255, 0.27) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,.03) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.32) 0%,rgba(251, 247, 255, 0.27) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,.03) 100%);
}
.theme2 button:active {
    background: linear-gradient(to bottom, rgba(218, 202, 212, 0.27) 0%,rgba(188, 180, 197, 0.24) 50%,rgba(0, 0, 0, 0.021) 51%,rgba(0, 0, 0, 0.025) 100%);
    background: -webkit-linear-gradient(top, rgba(218, 202, 212, 0.27) 0%,rgba(188, 180, 197, 0.24) 50%,rgba(0, 0, 0, 0.021) 51%,rgba(0, 0, 0, 0.025) 100%);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/** Labels **/
.theme2 label {
    display: block;
    color: #fff;
    text-transform: uppercase;
    /*line-spacing: -3px;*/
}
.theme2 .logo {
    /*position: absolute;*/
    margin: 8px 0px 0px 240px;
    width: 167px;
    height: 96px;
    background: url('../images/logo.png') top center no-repeat;
    /*border: 1px solid blueviolet;*/
    background-color: inherit;
}
.theme2 .live-play-screen {
    width: 640px;
    margin: 0px auto;
}
.theme2 .background1 {
    height: inherit;
}
.theme2 .background2 {
    background-image: none;
}
.theme2 .keys-container {
/*    position: absolute;
    height: 500px;*/
    position: relative;
    top: 10px;
    text-align: center;
    /*border: 1px solid yellow;*/
}
.theme2 .pitch-volume-container{
    width: 180px;
    /*float: right;*/
    height: 80px;
/*    position: relative;
    top: 30px;*/
    /*border: 1px solid white;*/
}



/** Keys Styling ***/
.theme2 .key {
    margin: 0px -1px;
    width: 77px;
    height: 77px;
    border-radius: 80px;
    border: 1px solid rgba(255, 255, 255, .2);
    background: white;
    color: #df5735;

    /*background: linear-gradient(to right, rgba(255, 192, 232, 0.1) 0%,rgba(255, 218, 237, 0.1) 50%,rgba(255, 213, 249, 0.28) 50%,rgba(249, 216, 255, 0.28) 100%);*/
    /*background: -webkit-linear-gradient(left, rgba(255, 192, 232, 0.1) 0%,rgba(255, 218, 237, 0.1) 50%,rgba(255, 213, 249, 0.28) 50%,rgba(249, 216, 255, 0.28) 100%);*/
}
.theme2 .key:hover {
    background: #cacaca;
    /*background: linear-gradient(to right, rgba(255, 192, 232, 0.13) 0%,rgba(255, 218, 237, 0.15) 50%,rgba(255, 213, 249, 0.36) 50%,rgba(249, 216, 255, 0.34) 100%);*/
    /*background: -webkit-linear-gradient(left, rgba(255, 192, 232, 0.13) 0%,rgba(255, 218, 237, 0.15) 50%,rgba(255, 213, 249, 0.36) 50%,rgba(249, 216, 255, 0.34) 100%);*/
}
.theme2 .key:active,
.theme2 .key.active{
/*    background: linear-gradient(to right, rgba(231, 91, 70, 0.95) 0%,rgba(255, 113, 77, 0.9) 50%,rgba(245, 136, 98, 0.95) 50%,rgba(216,130,106,0.90) 100%)!important;
    background: -webkit-linear-gradient(left, rgba(231, 91, 70, 0.95) 0%,rgba(255, 113, 77, 0.9) 50%,rgba(245, 136, 98, 0.95) 50%,rgba(216,130,106,0.90) 100%)!important;*/
    clear: both;
    box-shadow: 0px 0px 30px 1px rgba(255, 255, 255, .4);
/*    background: rgba(255,255,255,.8);*/


}

.theme2 .row-a {
    position:relative;
/*    top: 164px;*/
    left: 40px;

    z-index: 10;
    /*border: 1px solid red;*/
    height: 77px;
    width: 474px;

}
.theme2 .row-a .key {
/*    height: 78px;*/
    background: #000;
    /*background: linear-gradient(to right, rgba(197, 159, 191, 0.9) 0%,rgba(195, 158, 186, 0.9) 50%,rgba(209, 176, 202, 0.9) 50%,rgba(207, 185, 200, 0.9) 100%);*/
    /*background: -webkit-linear-gradient(left, rgba(197, 159, 191, 0.9) 0%,rgba(195, 158, 186, 0.9) 50%,rgba(209, 176, 202, 0.9) 50%,rgba(207, 185, 200, 0.9) 100%);*/
}
.theme2 .row-a .key:hover {
    background: #cacaca;
    /*background: linear-gradient(to right, rgba(203, 163, 198, 0.94) 0%,rgba(199, 162, 190, 0.96) 50%,rgba(209, 176, 202, 0.96) 50%,rgba(207, 185, 200, 0.93) 100%);*/
    /*background: -webkit-linear-gradient(left, rgba(203, 163, 198, 0.94) 0%,rgba(199, 162, 190, 0.96) 50%,rgba(209, 176, 202, 0.96) 50%,rgba(207, 185, 200, 0.93) 100%);*/
}
.theme2 .row-a .key-group {
    float: left;
    margin-left: 83px;
/*    text-transform: uppercase;*/
}
.theme2 .row-a .key-group:first-child {
    margin-left: 0px;
}


.theme2 .row-b{
/*    position: relative;
    top: 160px;
    float: left;*/
    height: 77px;
    width: 632px;
    /*border: 1px solid red;*/


}


/** Volume and Pitch Slider Styles **/
.theme2 .volume-container {
    /*float: right;*/
    /*width: 100px;*/
    /*margin: 27px 15px 19px;*/
/*    position: relative;
    top: 60px;*/
    /*border: 1px solid #cacaca;*/

}
.theme2 .volume-container .volume-input {
    /*margin-top: 14px;*/
}
.theme2 .pitch-container {
/*    float: left;
    margin: 22px 15px 26px;
    position: absolute;
    top: 56px;*/
    width: 200px;
}
.theme2 .volume-container label,
.theme2 .pitch-container label {
    font-size: .85em;
    margin-left: 2px;
}



/** Toolbar Styles **/
.theme2 .toolbar {
    clear: both;
    padding: 0px 10px;
    background: none;
}
.theme2 .toolbar .instrument-button {
/*    position: absolute;
    top: 0px;*/
    width: 374px;
    height: 66px;
}
.theme2 .toolbar #options {
    margin: 8px 5px 0px;
    float: right;
}
.theme2 .toolbar #options:hover {
    opacity: .7;
    cursor: pointer;
}

/** jQuery Overrides **/
.theme2 .ui-widget-header {
    border: #332339;
    background: linear-gradient(to bottom, rgba(100,69,109,1) 0%,rgba(104,67,97,1) 50%,rgba(66,45,73,1) 100%);
    background: -webkit-linear-gradient(top, rgba(100,69,109,1) 0%,rgba(104,67,97,1) 50%,rgba(66,45,73,1) 100%);
}
.theme2 .ui-widget-content {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,rgba(223, 223, 223, 1) 50%,rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(223, 223, 223, 1) 50%,rgba(255, 255, 255, 1) 100%);
}
.theme2 .ui-state-default .ui-icon {
    background-image: url("jquery/images/ui-icons_ffffff_256x240.png");
}
.theme2 .ui-state-default,
.theme2 .ui-widget-content .ui-state-default,
.theme2 .ui-widget-header .ui-state-default {
    border: 1px solid rgba(20, 20, 20, .2);
    background: linear-gradient(to bottom, rgba(255, 230, 245, 0.27) 0%,rgba(230, 220, 240, 0.24) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 230, 245, 0.27) 0%,rgba(230, 220, 240, 0.24) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
    box-shadow: 0px 1px 5px rgba(0,0,0,.18);
    color: #572963;
}
.theme2 .ui-state-hover,
.theme2 .ui-widget-content .ui-state-hover,
.theme2 .ui-widget-header .ui-state-hover,
.theme2 .ui-state-focus,
.theme2 .ui-widget-content .ui-state-focus,
.theme2 .ui-widget-header .ui-state-focus {
    border: 1px solid rgba(20, 20, 20, .2);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.35) 0%,rgba(251, 247, 255, 0.30) 50%,rgba(255,255,255,0.13) 51%,rgba(255,255,255,.05) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%,rgba(251, 247, 255, 0.30) 50%,rgba(255,255,255,0.13) 51%,rgba(255,255,255,.05) 100%);
    box-shadow: 0px 1px 5px rgba(0,0,0,.18)
}
.theme2 .ui-widget-overlay {
    background: #180D29 none;
}

/** Icons **/
.theme2 [class^="icon-"],
.theme2 [class*=" icon-"] {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-top: 1px;
    line-height: 28px;
    vertical-align: text-top;
    background-image: url("../images/sprite-icons.png");
    background-position: -20px -15px;
    background-repeat: no-repeat;
}
.theme2 .icon-volume {
    background-position: -20px -15px;
}
.theme2 .icon-option {
    width: 50px;
    height: 50px;
    background-position: -84px -20px;
}
